--- 
layout: default 
---


<div class="row">

    <div class="col-lg-8">

        <div class="card">
            <h1 class="card-title">Projects</h1>

            <br />

            {% assign projects = site.projects | sort: 'rank' | reverse %}
            {% for project in projects %}
                <div class="row">
                    <div class="col-md-8">
                        <a href="{{ project.url }}">
                            <img src="/assets/img/projects/{{ project.bannerImg }}" class="project-banner-img" />
                        </a>
                    </div>
                </div>
    
                <br />
            {% endfor %}
        </div>

    </div>


    <div class="col-lg-4">

        <div class="card">
            <h6><i class="fas fa-map-marker-alt"></i> {{ site.author_location }}</h6>
            <h6><i class="fas fa-envelope"></i> {{ site.author_email }}</h6>
            <h6><i class="fas fa-link"></i> {{ site.author_website_url }} </h6>
        </div>

        <div class="card">
            <h1 class="card-title">Welcome</h1>
            <p> {{ site.description }} </p>
        </div>

        <div class="card">
            <h1>Skills</h1>
            <p>Swift, Objective-C, C#</p>
            <p>HTML/CSS, PHP, MySQL</p>
            <p>Git, SVN, Perforce </p>
            <p>Xcode, Unity</p>
        </div>
    </div>
</div>